@page "/widgets/train/{ChannelName}"
@inherits UserActivityTrainModel

<h3>UserActivityTrain</h3>

<!--
	
	Get widget configuration for this channel
	Format the HTML properly
	Set a timer
	Animate the HTML properly

-->
