@page "/widgets/train/{ChannelName}"
@inherits UserActivityTrainModel

<!--
	
	Get widget configuration for this channel
	Format the HTML properly
	Animate the HTML properly

-->

@if (base.Configuration == null) {

	<span>Waiting...</span>

} else {


	<span id="counter">Train length:  @Counter</span>
	<br/>
	<span id="timeRemaining">@TimeRemaining.ToString("m\\:ss")</span>
	<br/>
	<span id="duration">Train has been going for: @TrainDuration.ToString("h\\:mm\\:ss")</span>
	<br/>
	<span id="latestFollower">Latest Follower: @LatestFollower</span>

}

