@page "/widgets/train/{channel}"

<h3>UserActivityTrain</h3>

<!--
	
Need to include SignalR JavaScript client
Need to attach client to the Hub for the Channel requested
Need to pass JsRuntime to the .NET Runtime
Need to pass the .NET Runtime to the SignalR connection methods

-->

@code {

}
