@page "/widgets/train/{ChannelName}"
@inherits UserActivityTrainModel

<h3>UserActivityTrain</h3>

<!--
	
	Get widget configuration for this channel
	Format the HTML properly
	Set a timer
	Animate the HTML properly

-->

@if (base.Configuration == null) {

	<span>Waiting...</span>

} else {

	<h2>Train Type:  @base.Configuration.Type.ToString()</h2>

}

