@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('reset.css');

html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/** cheer 11000 pakmanjr 10/11/19 */

app {
	position: relative;
	min-height: 100vh;
	display: grid;
}

footer {
	background-color: #333;
	color: #d7d7d7;
	font-weight: bold;
	font-size: xx-small;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
}

aside {
	background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
	position: relative;
}


@media only screen and (min-width : 768px) {

	app {
		grid-template-columns: minmax(3em,14em) 1fr;
		grid-template-rows: 1fr 2em;
	}

	main {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	footer {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
	}

	.main {
		flex: 1;
	}

	aside {
		grid-row: 1 / -1;
		grid-column: 1 / 2;
	}

		aside .top-row {
			background-color: rgba(0,0,0,0.4);
		}

		aside .navbar-brand {
			font-size: 1.1rem;
		}

		aside .oi {
			width: 2rem;
			font-size: 1.1rem;
			vertical-align: text-top;
			top: -2px;
		}

	.navbar-toggler {
		display: none;
	}

	/** ALWAYS show menu when presenting on a larger screen */
	.collapse {
		display: block;
	}

}

/** Phone size layout */
/*@media only screen and (min-width : 320px) and (max-width : 480px) {*/
@media only screen and (max-width : 767.98px) {

	app {
		/*grid-template-rows: min(2.5em,0.5fr) 1fr 0.5em;*/
		grid-template-rows: max-content 1fr 1.5em;
	}

	aside {
		grid-row: 1 / 2;
	}

	main {
		grid-row: 2 / 3;
	}

	footer {
		grid-row: 3 / 4;
	}

	.main {
		flex: 1;
	}

	.collapse {
		display: none;
	}
}

main > article {
	padding-left: 10px;
}

.nav-item {
	font-size: 0.9rem;
	padding-bottom: 0.5rem;
}

	.nav-item:first-of-type {
		padding-top: 1rem;
	}

	.nav-item:last-of-type {
		padding-bottom: 1rem;
	}

	.nav-item a {
		color: #d7d7d7;
		border-radius: 4px;
		height: 3rem;
		display: flex;
		align-items: center;
		line-height: 3rem;
		padding: 5px 5px 5px 15px;
	}

		.nav-item a.active {
			background-color: rgba(255,255,255,0.25);
			color: white;
		}

		.nav-item a:hover {
			background-color: rgba(255,255,255,0.1);
			color: white;
		}

.content {
	padding-top: 1.1rem;
}

.navbar-toggler {
	background-color: rgba(255, 255, 255, 0.1);
	color: #FFF;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 2.3em;
	height: 2.3em;
}

.valid.modified:not([type=checkbox]) {
	outline: 1px solid #26b050;
}

.invalid {
	outline: 1px solid red;
}

.validation-message {
	color: red;
}

#chatMessageConsole {
	width: 100%;
	margin: 3px;
	height: 10em;
	overflow: scroll;
	background-color: black;
}

#messagesList {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
}

	#messagesList li {
		margin: 0px;
		font-family: Courier New, Courier, monospace;
		font-size: small;
		color: lime;
	}

/** Style concerns */
a.brand {
	width: 100%;
	margin: 5px auto;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	font: 1.5em bold;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #FFF;
}

ul.nav {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

ul.nav a {
	text-decoration: none;
}


/** Blazor reconnect block */
.components-reconnect-hide {
	display: none;
}

.components-reconnect-show {
	display: block;
}

#aboutGrid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: start;
	width: 100%;
}

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 3px;
	transition: 0.3s;
	margin: 4px;
	min-width: 200px;
	flex: 1 0 200px;
}

.card-body {
padding: 10px;
font-size: 0.9em;
}

	/* On mouse-over, add a deeper shadow */
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

.card > h5 {
	width: 100%;
	margin: 0px;
	display: block;
	background-color: lightgrey;
	font-weight: bold;
	padding: 4px;
	box-sizing: border-box;
}
	 