@page "/About"

<h1>About the FritzBot</h1>

<!-- use Docker with GitHub registry -->

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                Built live on stream
            </div>
            <div class="card-body">
                This about page was built entirely on stream! Join Jeff and the Fritz and Friends Community at <a href="https://www.twitch.tv/csharpfritz" target="_blank">https://www.twitch.tv/csharpfritz</a> or on Twitter <a href="https://twitter.com/csharpfritz" target="_blank">@@csharpfritz</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                Where to get your copy
            </div>
            <div class="card-body">
                Use Docker with Github registry! <!-- Install and start instruc-->
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                Some Info header
            </div>
            <div class="card-body">
                Some body info
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                About Jeff and the Fritz and Friends Community
            </div>
            <div class="card-body">
            </div>
        </div>    
    </div>
</div>

<!-- We can add a col inside the row to get a nice layout, what you guys think?-->
<!-- You can now go check... -->