@page "/About"

<h1>About the FritzBot</h1>

<!-- use Docker with GitHub registry -->

<div id="aboutGrid">

	<div class="card">
		<h5>
			Built live on stream
		</h5>
		<div class="card-body">
			This about page was built entirely on stream! Join Jeff and the Fritz and Friends Community at <a href="https://www.twitch.tv/csharpfritz" target="_blank">https://www.twitch.tv/csharpfritz</a> or on Twitter <a href="https://twitter.com/csharpfritz" target="_blank">@@csharpfritz</a>
		</div>
	</div>

	<div class="card">
		<h5>
			Where to get your copy
		</h5>
		<div class="card-body">
			Use Docker with Github registry! <!-- Install and start instruc-->
		</div>
	</div>

	<div class="card">
		<h5>
			About Jeff and the Fritz and Friends Community
		</h5>
		<div class="card-body">
		</div>
	</div>
</div>

<!-- We can add a col inside the row to get a nice layout, what you guys think?-->
<!-- You can now go check... -->