@page "/"
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Hosting;
@inject System.Security.Claims.ClaimsPrincipal CurrentUser
@inject IActorRef channelManager
@inject NavigationManager NavigationManager
@inject IWebHostEnvironment env


<h1>Welcome to the FritzBot!</h1>

<p>
	This is a technically sophisticated chatbot that will assist in 
	moderating your channels and provide some unique widgets for you to use on stream.
</p>
<p>
	It was built originally to help manage faux currency on Quiltoni's stream, but has since 
	grown and now has an extensive feature-set
</p>

@if (env.IsDevelopment() && CurrentUser.Identity.IsAuthenticated)
{
<h4>My Claims:</h4>
<dl>
	@foreach (var claim in CurrentUser.Claims)
	{
		<dt>@claim.Type</dt>
		<dd>@claim.Value</dd>
	}
	</dl>
}
