@page "/"
@using Microsoft.Extensions.Hosting;
@inject System.Security.Claims.ClaimsPrincipal CurrentUser
@inject IActorRef channelManager
@inject NavigationManager NavigationManager
@inject IWebHostEnvironment env


<h1>Welcome to the PixelBot!</h1>

@if (env.IsDevelopment() && CurrentUser.Identity.IsAuthenticated)
{
<h4>My Claims:</h4>
<dl>
	@foreach (var claim in CurrentUser.Claims)
	{
		<dt>@claim.Type</dt>
		<dd>@claim.Value</dd>
	}
	</dl>
}
