@inherits LayoutComponentBase
@inject System.Security.Claims.ClaimsPrincipal CurrentUser
@inject NavigationManager NavManager

<aside>
	<NavMenu />
</aside>

<main>
	<div class="top-row px-4 login">

		@if (CurrentUser.Identity.IsAuthenticated)
		{
		<a href="" @onclick="@(() => NavManager.NavigateTo(" /Account/Profile"))">Hello @CurrentUser.Identity.Name!</a>
		<text>&nbsp;</text>
		<a href="" @onclick="@(() => NavManager.NavigateTo(" /Account/Logout", true))">Logout</a>
		}
		else
		{
		<a href="" @onclick="@(() => NavManager.NavigateTo(" /Account/Login", true))">Login</a>
		}

	</div>

	<article>
		@Body
	</article>
</main>


<footer>
	Copyright 2019
</footer>