@inherits LayoutComponentBase

<aside>
    <NavMenu />
</aside>

<main>
    <article>
        @Body
    </article>
</main>


<footer>
    Copyright &copy;2019 - v @Version
</footer>

@code {

    string Version { get; set; }


    protected override void OnInitialized()
    {

      Version = GetType().Assembly.GetName().Version.ToString();

    }

}